#login {
  height: 100vh;
  display: flex;
  justify-content: center;
}
.login_container {
  padding: 0 50px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.login_box {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.login_card {
  width: 552px;
  padding: 55px 41px 45px 41px;
  background: #e9e9e9;
  margin-bottom: 25px;
}
.login_card .userInfoBox {
  padding-left: 25px;
  padding-bottom: 40px;
}
.login_card .userInfoBox strong {
  font-size: 16px;
  color: #000000;
}
.login_card .userInfoBox span {
  font-size: 16px;
  color: #000000;
  opacity: 0.7;
}
.login_card .login_form {
  width: 100%;
  height: 53px;
  margin-bottom: 17px;
  padding-left: 26px;
  border: 1px solid white;
}
.login_card .warnInfo {
  padding-left: 25px;
  color: #000000;
}
.login_card .warnInfo p {
  padding: 0;
  margin: 0;
  font-size: 11px;
  line-height: 15px;
}
.login_card .login_button {
  margin-top: 23px;
  width: 100%;
  height: 53px;
  background-color: rgb(13, 159, 243);
  color: #fff;
  font-size: 20px;
  border: none;
  text-transform: uppercase;
  cursor: pointer;
}
.login_card .login_button:hover {
  background: #2e2e2e;
}
.login_heading {
  font-size: 25px;
  margin-bottom: 44px !important;
  color: #000000;
}
.login_footer {
  font-size: 16px;
  margin-top: 22px !important;
  color: #000000;
  cursor: pointer;
}
.login_card .login_alert {
  /* display: none; */
  padding: 0 25px;
  margin-bottom: 20px;
}
.login_card .login_alert .alert_content {
  padding: 0;
  margin: 0;
  font-size: 11px;
  line-height: 15px;
  color: rgb(218, 15, 55);
}
