#serverList {
  display: flex;
  justify-content: center;
  padding: 0 20px;
}

.serverList_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.addServer {
  width: 100%;
}
.addServer-btn {
  position: relative;
  height: 53px;
  width: 310px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 8px;
  background: #169fdb;
  float: right;
  cursor: pointer;
}
.addServer-btn:hover {
  background: #2e2e2e;
}
.addServer-btn h2 {
  padding: 0 10px;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
}
.addServer-btn img {
  width: 31px;
  height: 31px;
}

.searchInfo {
  margin-bottom: 16px;
  color: #000;
  font-size: 13px;
  font-weight: bold;
}

table {
  border-collapse: collapse;
  width: 100%;
  border: none;
  margin-bottom: 42px;
}
tr {
  height: 48px;
}
tr th {
  background-color: #169fdb;
  font-size: 13px;
  text-transform: uppercase;
}
tr td {
  color: #000;
  font-weight: bold;
  font-size: 13px;
}
tr th:last-child {
  background-color: #2e2e2e;
}
tr td:last-child img {
  width: 20px;
  height: 15px;
  padding: 0 10px;
  box-sizing: content-box;
  cursor: pointer;
}
tr th img {
  width: 24px;
  height: 24px;
}
td,
th {
  text-align: center;
  vertical-align: middle;
  padding: 0 8px;
  border-right: 1px solid #e9e9ee;
}
td:last-child,
th:last-child {
  border-right: none;
}
tr:nth-child(odd) {
  background-color: #f1f1f1;
}
tr:nth-child(even) {
  background-color: #fff;
}

.pagination {
  display: flex;
  justify-content: center;
}
.pagination ul {
  width: auto;
}
